@mixin btn-nav {
    border: 2px solid  $color_primary;
    padding: 7px 15px;
    @include bRaduis(4px);
    display: inline-block;
    outline: none;
    font-weight: bold;
    color: $color_primary;
    text-decoration: none;
    font-size: 1rem;
    font-family: $Font-Primary;
    transition: all 0.3s ease-in;
 
    &:hover {
        color: $color_white;
        background:$color_primary;
    }
}
.btn-bg{
    @include btn-nav;
    background: $color_primary;
    color: $color_white;
  }

